@import '../_vars.scss';
@import '../_mixin.scss';

@media (max-width: 1000px) {
    .container {
        margin: 0 12px;
    }
    .header {
        top: 43px;
        &__container {
            justify-content: space-between;
            .header__button {
                display: block;
                z-index: 2;
            }
            picture {
                z-index: 2;
            }

            .nav {
                // display: none;
                // opacity: 0;
                transform: translateX(-100vw);
                border-radius: 0px 0px 24px 24px;
                background: linear-gradient(297deg, #548dba 0%, #7ac4ff 100%);
                position: absolute;
                top: -43px;
                width: 100%;
                z-index: 1;
                left: 0;
                right: 0;
                padding: 0;
                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                .list {
                    padding: 130px 32px 32px 32px;
                    flex-direction: column;
                    gap: 12px;
                    .item {
                        a {
                            font-size: 24px;
                        }
                    }
                }
                &--active {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .header__phone {
                z-index: 2;
                svg {
                }
            }
            // }
        }
    }
    .general {
        padding-top: 179px;
        padding-bottom: 80px;
        &__container {
            .general__wrap {
                max-width: unset;
                .general__title {
                    margin-bottom: 42px;
                    span {
                        margin-top: 13px;
                        font-size: 18px;
                    }
                }
                .list {
                    max-width: unset;
                    flex-direction: row;
                    gap: 12px;
                    .item {
                        font-size: 14px;
                        margin-left: 22px;
                    }
                }
            }
            form {
                display: none;
            }
        }
    }
    .budget {
        padding: 80px 0;
        .svg-left {
            display: none;
        }
        .svg-right {
            display: none;
        }
        &__container {
            .budget__title {
                margin-bottom: 24px;
                font-size: 32px;
            }
            .card {
                border-radius: 24px;
                padding: 24px;
                max-width: unset;
                width: 100%;
                flex-direction: row;
                gap: 12px;
                flex-wrap: wrap;
                &__number {
                    font-size: 24px;
                    margin: 0;
                }
                &__title {
                    font-size: 18px;
                    margin: 0;
                    margin-top: 5px;
                    span {
                    }
                }
                &__text {
                    font-size: 16px;
                }
                &__button {
                }
                &-sell {
                    flex-wrap: nowrap;
                    gap: 24px;
                    svg {
                        max-width: 112px;
                        min-width: unset;
                        max-height: 112px;
                    }
                    .card__title {
                        font-size: 18px;
                    }
                }
                &-small {
                    flex-wrap: nowrap;
                    max-width: unset;
                    width: 100%;
                    border: none;
                    padding: 0;
                    margin-bottom: 18px;
                    flex-direction: row;
                    .card__title {
                        max-width: 336px;
                        font-size: 20px;
                    }
                }
            }
            .budget__wrap {
                gap: 10px;
                flex-direction: column;
            }
        }
    }
    .pluses {
        padding: 80px 0;
        &__container {
            .pluses__content {
                margin-bottom: 24px;
            }
            .pluses__title {
                margin-bottom: 12px;
            }
            .pluses__button {
                margin-bottom: 42px;
            }
            .pluses__text {
            }
            .pluses__cards {
                gap: 12px;
                .card {
                    &__number {
                        font-size: 24px;
                    }
                    &__title {
                        font-size: 14px;
                    }
                    &:nth-child(1) {
                        max-width: 415px;
                    }
                    &:nth-child(2) {
                        max-width: 270px;
                    }
                    &:nth-child(3) {
                        max-width: 233px;
                    }
                    &:nth-child(4) {
                        max-width: 331px;
                    }
                    &:nth-child(5) {
                        max-width: 344px;
                    }
                    &:nth-child(6) {
                        max-width: 411px;
                    }
                }
            }
        }
    }
    .FAQ {
        padding: 80px 0;
        .svg-left {
            top: 155px;
            bottom: unset;
            left: -355px;
            right: unset;
            height: unset;
        }
        .svg-right {
            display: block;
            top: 155px;
            bottom: unset;
            height: unset;
            right: -115px;
        }
        &__img {
            bottom: unset;
            display: none;
            &-720 {
                top: 247px;
                display: block;
                right: unset;
            }
        }
        &__container {
            .FAQ__title {
                font-size: 32px;
                margin-bottom: 654px;
            }
            .FAQ__cards {
                gap: 12px;
                .card {
                    padding: 24px;
                    border-radius: 12px;
                    gap: 8px;
                    &__title {
                        font-size: 18px;
                    }
                    svg {
                    }
                    img {
                        right: -55px;
                        bottom: -51px;
                    }
                    &:nth-child(1) {
                        max-width: 306px;
                        order: 1;
                    }
                    &:nth-child(2) {
                        max-width: 176px;
                        order: 2;
                    }
                    &:nth-child(3) {
                        max-width: 350px;
                        order: 3;
                    }
                    &:nth-child(4) {
                        max-width: 360px;
                        order: 5;
                    }
                    &:nth-child(5) {
                        max-width: 265px;
                        order: 4;
                    }
                    &:nth-child(6) {
                        max-width: 349px;
                        order: 6;
                    }
                }
            }
        }
    }
    .feedback {
        padding: 80px 0;
        &__container {
            flex-wrap: wrap;
            gap: 42px;
            .feedback__wrap {
                &-left {
                    width: 100%;
                    max-width: unset;
                    .feedback__title {
                        font-size: 32px;
                        margin-bottom: 10px;
                    }
                    .feedback__text {
                        font-size: 16px;
                        margin-bottom: 27px;
                    }
                    .feedback__button {
                    }
                }
                &-right {
                    width: 100%;
                    max-width: unset;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: unset;
                    grid-gap: 12px;
                    .card {
                        border-radius: 12px;
                        padding: 12px;
                        flex-direction: column;
                        gap: 12px;
                        &__number {
                        }
                        &__title {
                            font-size: 14px;
                        }
                        &:first-child {
                            grid-area: unset;
                            gap: 12px;
                        }
                        &:nth-child(n + 2) {
                            .card__title {
                            }
                        }
                    }
                }
            }
        }
    }
    .progress {
        padding: 80px 0;
        .svg-left {
            right: unset;
            left: -282px;
        }
        .svg-right {
            right: -45px;
        }
        img {
            width: 100%;
            height: 460px;
            object-position: top;
            object-fit: cover;
            right: unset;
            top: 202px;
            bottom: unset;
            transform: scale(1.14);
        }
        &__container {
            .progress__title {
                margin-left: 20px;
                margin-bottom: 419px;
                span {
                    &:nth-child(1) {
                    }
                    &:nth-child(2) {
                    }
                }
                svg {
                }
            }
            .progress__cards {
                gap: 12px;
                margin-bottom: 42px;
                .card {
                    align-items: center;
                    &__title {
                        font-size: 18px;
                        margin-bottom: 1px;
                        span {
                            font-size: 14px;
                        }
                    }
                    svg {
                    }
                    &:nth-child(1) {
                        max-width: 315px;
                        order: 1;
                    }
                    &:nth-child(2) {
                        max-width: 328px;
                        order: 2;
                    }
                    &:nth-child(3) {
                        max-width: 418px;
                        order: 4;
                    }
                    &:nth-child(4) {
                        order: 3;
                    }
                }
            }
            .progress__text {
                font-size: 18px;
            }
        }
    }
    .deliver {
        padding: 80px 0;
        &__container {
            .deliver__title {
                font-size: 32px;
            }
            .deliver__button {
            }
            .deliver__cards {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 12px;
                .card {
                    gap: 22px;
                    flex-direction: column;
                    img {
                        max-width: unset;
                        width: 100%;
                        height: 167px;
                        border-radius: 12px;
                    }
                    &__title {
                    }
                    &:nth-child(n + 9) {
                        display: flex;
                    }
                    &:nth-child(n + 10) {
                        display: none;
                    }
                }
            }
        }
    }
    .brand {
        padding: 80px 0;
        &__container {
            .brand__title {
                margin: 0 12px;
                margin-bottom: 43px;
                font-size: 32px;
            }
            .brand__wrap {
                overflow: hidden;
                max-height: 42px;
                .bar {
                    align-items: center;
                    gap: 60px;
                    img {
                        max-height: 42px;
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .info {
        &__container {
            .info__wrap {
                padding: 80px 0;
                .svg-left {
                    display: none;
                }
                .svg-right {
                    display: none;
                }
                &-top {
                    .info__content {
                        gap: 64px;
                        .card {
                            flex-direction: column;
                            img {
                                width: 100%;
                                max-width: unset;
                            }
                            &__content {
                                max-width: unset;
                                .card__title {
                                    font-size: 32px;
                                }
                                .card__text {
                                    font-size: 16px;
                                    margin-bottom: 29px;
                                }
                                .card__button {
                                }
                            }
                            &:last-child {
                                flex-direction: column-reverse;
                                .card__content {
                                    width: 100%;
                                    .card__text {
                                        margin-bottom: 36px;
                                    }
                                }
                            }
                        }
                    }
                }
                &-bottom {
                    svg {
                        top: 0;
                        right: -522px;
                        &:nth-child(2) {
                            right: -515px;
                        }
                    }
                    .info__content {
                        margin: 0 12px;
                        .card {
                            flex-direction: column;
                            img {
                                max-width: unset;
                                width: 100%;
                                max-height: 518px;
                                border-radius: 24px;
                            }
                            &__content {
                                max-width: unset;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                .card__title {
                                    font-size: 32px;
                                }
                                .card__text {
                                    font-size: 18px;
                                    margin-bottom: 68px;
                                }
                                .card__info {
                                    max-width: 581px;
                                    margin-bottom: 70px;
                                    img {
                                        width: unset;
                                        left: -5px;
                                        top: 58%;
                                    }
                                    .card__text {
                                    }
                                }
                                .card__button {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .experts {
        padding: 80px 0;
        &__container {
            .experts__title {
                margin-bottom: 32px;
            }
            .experts__button {
            }
            .experts__cards {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 13px;
                .card {
                    border-radius: 24px;
                    min-height: 600px;
                    img {
                        transform: scale(1);
                        object-position: center -100px;
                    }
                    &__content {
                        .card__text {
                        }
                        .card__name {
                        }
                        .card__position {
                        }
                        .card__email {
                        }
                    }
                    &::after {
                    }
                }
            }
        }
    }
    .clients {
        padding: 80px 0;
        // display: none;
        &__container {
            .clients__title {
                font-size: 32px;
                margin-bottom: 24px;
            }
            .clients__cards {
                gap: 12px;
                .card {
                    border-radius: 24px;
                    gap: 12px;
                    flex-direction: column;
                    &__comment {
                        margin-top: 12px;
                        font-size: 16px;
                    }
                    .profile {
                        width: 100%;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                        &__content {
                            .profile__name {
                                font-size: 24px;
                                margin-bottom: 4px;
                            }
                            .profile__position {
                            }
                        }
                    }
                    &:nth-child(2) {
                        .profile {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .certificates {
        padding-top: 80px;
        svg {
            top: -100px;
            right: -440px;
            height: 763px;
            &:nth-child(2) {
            }
        }
        &__container {
            .certificates__title {
                font-size: 24px;
                margin-bottom: 60px;
            }
            .certificates__imgs {
                height: 222px;
                img {
                    &:nth-child(1) {
                        width: 309px;
                        top: 65px;
                    }
                    &:nth-child(2) {
                        width: 251px;
                    }
                    &:nth-child(3) {
                        width: 258px;
                        top: 26px;
                    }
                    &:nth-child(4) {
                        width: 210px;
                        top: 65px;
                    }
                }
            }
        }
    }
    .cases {
        padding: 80px 0;
        &__container {
            .cases__content {
                flex-wrap: wrap;
                margin-bottom: 64px;
                .cases__title {
                    width: 100%;
                    margin-bottom: 25px;
                }
                .cases__button {
                    &:nth-child(2) {
                        margin-left: unset;
                    }
                }
            }
            .cases__slider {
                padding: 0;
                margin: 0 12px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                .slide {
                    margin: 0;
                    flex-direction: column-reverse;
                    gap: 0;
                    border-radius: 32px;
                    img {
                        width: 100%;
                        height: 360px;
                        border-radius: 32px;
                    }
                    &__content {
                        padding: 24px;
                        .slide__title {
                        }
                        .slide__text {
                        }
                        .list {
                            margin-bottom: 31px;

                            .item {
                                &__number {
                                }
                                &__text {
                                }
                            }
                        }
                        .slide__tags {
                            .slide__tag {
                            }
                        }
                    }
                }
                .slick-list {
                }
                .slick-track {
                }
                .slick-arrow {
                }
            }
        }
    }
    .contact {
        padding: 80px 0;
        &__container {
            flex-wrap: wrap;
            gap: 42px;
            .contact__wrap {
                max-width: unset;
                .contact__title {
                    margin-bottom: 12px;
                    span {
                    }
                }
                .contact__address {
                    margin-bottom: 35px;
                }
                .contact__cards {
                    .card {
                        .card__link {
                        }
                        .card__info {
                        }
                    }
                }
                .contact__links {
                    .contact__link {
                    }
                }
            }
            form {
                max-width: unset;
                display: grid;
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 12px;
                .form__header {
                    grid-area: 1 / 1 / 2 / 3;
                }
                input {
                    width: 100%;
                    margin-bottom: 12px;
                }
                button {
                    grid-area: 4 / 1 / 5 / 3;
                    margin-top: 11px;
                }
                .form__text {
                    grid-area: 5 / 1 / 6 / 3;
                    text-align: center;
                }
            }
        }
    }
    .footer {
        padding: 80px 0;
        &__container {
            .footer__wrap {
                &-left {
                    .footer__logo {
                        margin-bottom: 29px;
                    }
                    .footer__button {
                    }
                }
                &-center {
                    margin-bottom: 8px;
                    .footer__text {
                        margin-bottom: 14px;
                    }
                    .footer__email {
                    }
                    .footer__phone {
                    }
                    .footer__address {
                    }
                }
                &-right {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: start;
                    .footer__link {
                        font-size: 14px;
                        &:first-child {
                            margin-right: 30px;
                        }
                    }
                    .footer__text {
                    }
                }
            }
        }
    }
}
