@import '../_vars.scss';
@import '../_mixin.scss';
@media (max-width: 1500px) {
    .container {
        margin: 0 30px;
        // padding: 0 30px;
    }
    .footer {
        &__container {
            flex-wrap: wrap;
            gap: 42px;
            .footer__wrap {
                &-right {
                    max-width: unset;
                    width: 100%;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }
            }
        }
    }
}
